.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: var(--surface);
  border-right: 1px solid var(--border);
  box-shadow: 8px 0 25px var(--shadow);

  padding: 2rem 1.2rem;

  display: flex;
  flex-direction: column;

  z-index: 1000;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: .6rem;

  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: .9rem;

  padding: .9rem 1rem;

  border-radius: var(--radius-md);

  color: var(--text-secondary);

  font-size: .95rem;
  font-weight: var(--fw-medium);

  cursor: pointer;

  transition: var(--transition);
}

.sidebar li svg {
  font-size: 1.2rem;
}

.sidebar li:hover {
  background: rgba(124, 58, 237, .12);
  color: var(--primary);
}

.sidebar li.active {
  background: rgba(124, 58, 237, .15);
  color: var(--primary);
}

.sidebar li.active svg {
  color: var(--primary);
}



@media (max-width: 768px) {
  .sidebar {
    width: 260px;
  }
}